alembic==1.8.1
amqp==5.1.1
anyio==3.6.1
async-timeout==4.0.2
asyncmy==0.2.7
attrs==21.4.0
billiard==3.6.4.0
black==22.6.0
celery==5.2.7
certifi==2023.7.22
charset-normalizer==2.0.12
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.4
databases==0.6.1
Deprecated==1.2.13
dnspython==2.2.1
fastapi==0.95.2
flower==1.2.0
greenlet==1.1.2
h11==0.13.0
humanize==4.3.0
idna==3.3
importlib-metadata==4.11.3
importlib-resources==5.6.0
itsdangerous==2.1.2
Jinja2==3.1.1
jsonschema==4.4.0
kombu==5.2.4
lxml==4.9.1
Mako==1.2.3
MarkupSafe==2.1.1
mypy-extensions==0.4.3
mysqlclient==2.1.0
Naked==0.1.31
oauthlib==3.2.2
packaging==21.3
pathspec==0.9.0
pdfkit==1.0.0
Pillow==9.3.0
platformdirs==2.5.2
prometheus-client==0.14.1
prompt-toolkit==3.0.31
pycodestyle==2.8.0
pycryptodome==3.14.1
pydantic==1.10.2
PyJWT==2.4.0
pyparsing==3.0.9
pyrsistent==0.18.1
python-cas==1.6.0
python-dotenv==0.19.2
python-multipart==0.0.5
pytz==2022.2.1
PyYAML==6.0
qrcode==7.3.1
redis==4.5.4
requests==2.31.0
requests-oauthlib==1.2.0
shellescape==3.8.1
simpleeval==0.9.12
six==1.16.0
sniffio==1.3.0
SQLAlchemy==1.4.40
starlette==0.27.0
starlette-context==0.3.4
toml==0.10.2
tomli==2.0.1
tornado==6.3.3
tqdm==4.64.0
typing_extensions==4.3.0
urllib3==1.26.9
uuid==1.30
uvicorn==0.18.3
vdf==3.4
vine==5.0.0
wcwidth==0.2.5
Werkzeug==2.2.3
wrapt==1.14.1
WTForms==2.3.3
WTForms-JSON==0.3.4
xmltodict==0.12.0
zipp==3.8.0
fastapi-analytics==1.1.4
